<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<form method="post" action="/ajouterRecruteur">
    <input type="text" name="nomRecruteur" placeholder="Nom Recruteur">
    <input type="text" name="prenomRecruteur" placeholder="Prénom Recruteur">
    <input type="text" name="nomEntreprise" placeholder="Entrprise">
    <input type="text" name="adresse" placeholder="addresse">
    <input type="text" name="ville" placeholder="ville">
    <input type="text" name="cp" placeholder="cp">
    <input type="text" name="pays" placeholder="pays">
    <input type="text" name="telFixe" placeholder="Téléphone fix">
    <input type="text" name="telMobile" placeholder="Téléphone mobile">
    <input type="text" name="mail" placeholder="mail">
    <input type="password" name="mdp" placeholder="Mot de passe">
    <input type="submit">
</form>


</body>
</html>
