<%- include('include/header-connect') %>

<section class="page-title cyan darken-1 white-text" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div id="logo-title" class="col s3 m1">
                <i class="medium material-icons">search</i>
            </div>

            <div class="col s9 m8">
                <h3><%=title%></h3>
            </div>
        </div>

    </div>

</section>

<section class="page-content" id="ajouterCV">
    <div class="container">
        <div class="row">
            <h2 style="text-align: center">Veuillez remplir le formulaire ci-aprés svp.</h2>

            <!-- <h3 style="text-align: center">CV</h3>-->

            <div class="col s12 m7 offset-m2">
                <form method="post" action="#">
                    <div  id="test" class="input-field col s12">
                        <input name="titre" type="text" length="255">
                        <label for="titre">Titre du CV</label>
                    </div>

                    <div class="input-field col s12">
                        <textarea name="resumecv" class="materialize-textarea" length="255  "></textarea>
                        <label for="resumecv">Résumé du CV</label>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div class="col s12 m7 offset-m2">
                        <h3 style="text-align: center">Formation</h3>
                    </div>
                    <div class="input-field col s12">
                        <input name="IntituleDiplome" type="text" length="255">
                        <label for="IntituleDiplome">Intitulé du diplôme passé</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="mention" type="text" length="255">
                        <label for="mention">Mention</label>
                    </div>

                    <div class="input-field col s12">
                        <input name="annee" type="number" length="255">
                        <label for="annee">Annee</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="checkbox" id="encours" />
                        <label for="encours">En cours?</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="etablissement" type="text" length="255">
                        <label for="etablissement">Etablissement</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="VilleDi" type="text" length="255">
                        <label for="VilleDi">Ville</label>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div class="col s12 m7 offset-m2">
                        <h3 style="text-align: center">Expérience Pro</h3>
                    </div>
                    <div class="input-field col s12">
                        <input name="entreprise" type="text" length="255">
                        <label for="entreprise">Entreprise</label>
                    </div>
                    <div class="input-field col s12">
                        <select name="contrattype">
                            <option value="" disabled selected>Type de contrat</option>
                            <option value="1">CDD</option>
                            <option value="2">CDI</option>
                            <option value="3">Apprentissage</option>
                            <option value="4">Stage</option>
                        </select>
                    </div>
                    <div class="input-field col s12">
                        <input name="poste" type="text" length="255">
                        <label for="poste">Poste</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="datedebut" type="date" length="255">
                        <label for="datedebut">Date de début</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="datefin" type="date" length="255">
                        <label for="datefin">Date de fin</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="villeXp" type="text" length="255">
                        <label for="villeXp">Ville</label>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div class="col s12 m7 offset-m2">
                        <h3 style="text-align: center">Missions</h3>
                    </div>
                    <div class="input-field col s12">
                        <input name="intituleMission" type="text" length="255">
                        <label for="intituleMission">Intitulé de la mission</label>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div class="col s12 m7 offset-m2">
                        <h3 style="text-align: center">Competences</h3>
                    </div>
                    <div class="input-field col s12">
                        <input name="intituleCompetence" type="text" length="50">
                        <label for="intituleCompetence">Intitulé de la compétence</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="niveauCompetence" type="text" length="1">
                        <label for="niveauCompetence">Niveau de maitrise de la compétence</label>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div class="col s12 m7 offset-m2">
                        <h3 style="text-align: center">Langue</h3>
                    </div>
                    <div class="input-field col s12">
                        <input name="denominationLangue" type="text" length="50">
                        <label for="denominationLangue">Langue</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="niveauLangue" type="text" length="1">
                        <label for="niveauLangue">Niveau de maitrise de la Langue</label>
                    </div>
                    </br>
                    </br>
                    </br>
                    <div class="col s12 m7 offset-m2">
                        <h3 style="text-align: center">Centres d'interêt</h3>
                    </div>
                    <div class="input-field col s12">
                        <input name="intituleInteret" type="text" length="50">
                        <label for="intituleInteret">Intitulé centre interet</label>
                    </div>

                    <div class="input-field col s12" >
                        <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="valider">Valider
                            <i class="material-icons right">send</i>
                        </button>
                    </div>


                    <script type="text/javascript" >
                        var div = document.getElementById('test');
                        function addField() {
                            div.innerHTML += '<input type="text" name="test1" />' +
                                    '<input type="text" name="test2" />' +
                                    '<input type="text" name="test3" />';
                        }
                    </script>
                    <button type="button" onclick="addField()" >+</button>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('include/footer') %>