<%- include('include/header-connect') %>

<form method="post" action="/ajouterOffre">
    <input type="text" name="titre" placeholder="Titre ">
    <input type="text" name="xpRequise" placeholder="Experience requise">
    <input type="text" name="tempDeTravail" placeholder="Temps de travail">
    <input type="text" name="resume" placeholder="Résumé">
    <input type="text" name="salaire" placeholder="Salaire">
    <input type="text" name="ville" placeholder="Ville">
    <input type="text" name="mail" placeholder="Mail">
    <input type="date" name="dateEmission" class="datepicker">

    <div class="switch ">
        <h5>Adapté aux handicaps</h5>
        <label>

            Off
            <input type="checkbox" name="handicap">
            <span class="lever"></span>
            On
        </label>
    </div>

    <br>

    <input type="submit">
</form>
<%- include('include/footer') %>