<%- include('include/header-connect') %>

<section  class="page-title cyan darken-1 white-text">
    <div class="container">
        <div class="row">
            <div class="col s12 m2">
                <div class="center-align">
                    <p><img src="/img/avatar.png" width="110px" height="110px"/></p>
                </div>
            </div>

            <div class="col s12 m6">
                <h3>Jean DUPONT</h3>
                <h5>Développeur Web</h5>
            </div>

            <div class="col s12 m2">
                <p class="center-align"><span class="taux">78%</span><br/> de compatibilité</p>
            </div>

            <div class="col s6 m1">
                <a style="margin-top: 50%;" class="btn-floating btn-large waves-effect waves-light blue-grey darken-1"><i class="large material-icons">thumb_up</i></a>
            </div>

            <div class="col s6 m1">
                <a style="margin-top: 50%;" class="btn-floating btn-large waves-effect waves-light white"><i class="large material-icons blue-grey-text text-darken-1">thumb_down</i></a>
            </div>
        </div>
    </div>
</section>

<section class="page-content" id="cv">
    <div class="container">
        <div class="row">
            <div class="col s12 m7 offset-m2">
                <h4>Niveau d'étude</h4>
                BAC + 5
                <h4>Compétences</h4>
                <table>
                    <tbody>
                    <tr>
                        <td>HTML 5</td>
                        <td>&starf;&starf;&starf;&starf;&starf;</td>
                    </tr>
                    <tr>
                        <td>CSS 3</td>
                        <td>&starf;&starf;&starf;&starf;&starf;</td>
                    </tr>
                    <tr>
                        <td>JavaScript</td>
                        <td>&starf;&starf;&starf;&starf;&star;</td>
                    </tr>
                    <tr>
                        <td>PHP</td>
                        <td>&starf;&starf;&starf;&star;&star;</td>
                    </tr>
                    <tr>
                        <td>J2EE</td>
                        <td>&starf;&starf;&starf;&starf;&star;</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="col s12 m3">
                <p><a class="waves-effect waves-light btn blue-grey darken-1"><i class="material-icons left">info</i>En savoir plus</a></p>
            </div>
        </div>
    </div>



</section>
<%- include('include/footer') %>
