<%- include('include/header') %>


<section id="welcome" class="cyan darken-1">
  <div class="container">
    <br><br>
    <h1 class="header center white-text">Bienvenue sur <%=title%> !</h1>
    <div class="row center">
      <h5 class="header col s12 light">Simplifions la recherche d'emploi. Inscrivez-vous, c’est gratuit.</h5>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <a href="#" class="col s12 m7 btn-large waves-effect waves-light black right">Vous êtes candidat</a>
      </div>
      <div class="col s12 m6">
        <a href="#" class="col s12 m7 btn-large waves-effect waves-light red left">Vous êtes recruteur</a>
      </div>



    </div>
    <br><br>

  </div>
</section>

<section id="dernieresOffres">
  <div class="container">
    <h5>Dernières offres</h5>
    <div class="row">
      <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Offre 1</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Offre 2</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Offre 3</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Offre 3</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="derniersCandidats">
  <div class="container">
    <h5>Derniers candiats inscrits</h5>
    <div class="row">
      <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Candidat 1</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Candidat 2</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Candidat 3</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Candidat 4</span>
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include('include/footer') %>
