<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<nav>
    <div class="nav-wrapper black">
        <div class="container">
            <a href="/" class="brand-logo"><i class="material-icons left">work</i>Bayjob</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" class='dropdown-button'  data-activates='dropdownRecherche'><i class="material-icons left">search</i>Recherche<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/login" ><i class="material-icons left">perm_identity</i>Connexion</a></li>
            </ul>

            <ul id='dropdownRecherche' class='dropdown-content'>
                <li><a href="/rechercheOffres">Offre</a></li>
                <li><a href="#!">Candidat</a></li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
                <li><a href="#" ><i class="material-icons left">search</i>Recherche</a></li>
                <li><a href="#" ><i class="material-icons left">perm_identity</i>Connexion</a></li>

            </ul>
        </div>
    </div>
</nav>